@font-face {
    font-family: 'SF UI Text';
    src:local('SF UI Text'), 
        url('../fonts/SFUIText-Light.woff2') format('woff2'),
        url('../fonts/SFUIText-Light.woff') format('woff');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'SF UI Text';
    src:local('SF UI Text'), 
        url('../fonts/SFUIText-Regular.woff2') format('woff2'),
        url('../fonts/SFUIText-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'SF UI Text';
    src:local('SF UI Text'), 
        url('../fonts/SFUIText-Medium.woff2') format('woff2'),
        url('../fonts/SFUIText-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}
html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
img{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,
ol{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
h1,
h2,
h3,
h4,
p,
figure{
    margin: 0;
}
body{
    font-family: 'SF UI Text', sans-serif;
    min-width: 320px;
    min-height: 100%;
    font-size: 20px;
    font-weight: 500;
    background-color:  #ffffff;
    color: #000000;
    line-height: 1;
}
.container{
    max-width: 1320px;
    padding: 0 15px;
    margin: 0 auto;
}
.header{
    padding: 40px 0;
    margin-bottom: 90px;
}
.header__container{
    max-width: 1130px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation{
    font-weight: 400;
    line-height: 24px;
}
.navigation__list{
    display: flex;
    flex-wrap: wrap;
}
.navigation__item{
    padding: 20px 0;
}
.navigation__item:not(:last-child){
    position: relative;
    margin-right: 50px;
}
.navigation__item:not(:last-child)::after{
    position: absolute;
    display: block;
    content: '';
    right: -25px;
    top: 15px;
    width: 1px;
    height: 40px;
    background-color: #C9C9C9;
}
@media (max-width:800px) {
    .navigation {
        font-size: 16px;
    }
    .navigation__item:not(:last-child){
        margin-right: 20px;
    }
    .navigation__item:not(:last-child)::after{
        display: none;
    }
}
@media (max-width:680px) {
    .header{
        padding: 24px 0;
        margin-bottom: 24px;
    }
    .header__container{
        align-items: flex-start;
    }
    .navigation__list{
        display: block;
    }
    .navigation__item{
        padding: 16px 0;
        text-align:end;
    }
    .navigation__item:not(:last-child){
        margin-right: 0;
    }
}

.offer__container{
    text-align: center;
    background-image: url('../images/phones.jpg');
    background-repeat: no-repeat;
    min-height: 800px;
    background-position: bottom;
    margin: 0 -15px;
    margin-bottom: 200px;
}
.offer_main-title{
    font-weight: 400;
    margin-bottom: 24px;
    line-height: 24px;
} 
.offer__title{
    font-size: 34px;
    line-height: 41px;
    margin-bottom: 24px;
}
.offer__price{
    display: block;
    font-weight: 300;
    margin-bottom: 32px;
    line-height: 24px;
}

.btn{
    display: block;
    cursor: pointer;
    margin: 0 auto;
    color: #ffffff;
    background-color: #0071E3;
    border-radius: 30px;
    padding: 18px 23px;
    border: none;
    line-height: 24px;
}
@media (max-width:320px) {
    .header{
        margin-bottom: 12px;
    }
    .offer__container{
        background-size: 946px;
    }
    .offer_main-title{
        margin-bottom: 12px;
    }
    .offer_main-title{
        margin-bottom: 12px;
    }
}
/* начало работы с майн */
.features__title{
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 80px;
}
.features__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.card article{
    display: flex;
    flex-direction: column;
}
.card{
    width: 410px;
    margin: 0 15px;
    margin-bottom: 60px;
}
.card__title{
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    order: 1;
    margin-bottom: 20px;
}
.card__description{
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    order: 2;
}
.features__item:first-child,
.features__item:nth-child(4n){
    margin-left: 0;
}
.features__item:nth-child(3n){
    margin-right:0;
}
.features__item img{
    margin-bottom: 35px;
}